body {
	background-color: black;
	color: white;
}

a {
	color: aqua;
}

a.button {
	background-color: #2D65BC;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 4px;
}

a.button:hover {
	filter: brightness(1.5);
}

#container {
	display: flex;
	flex-direction: row;
	column-gap: 24px;
}

li {
	font-weight: bolder;
}