html {
	margin: 8px;
}
.indent0 {
	text-indent: 0pt;
}
.indent1 {
	text-indent: 4pt;
}
.indent1::before {
	content: "↳ ";
}
.indent2 {
	text-indent: 22pt;
}
.indent2::before {
	content: "↳";
}
h3 {
	margin-bottom: 0.5em;
}
h6 {
	margin: 0;
}